.Popup__Header {
  padding: 26px;
  .Header__Title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.3px;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
  }
  .Header__Subtitle-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .Header__Subtitle {
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.4px;
    margin: 0;
    margin-bottom: 10px;
    small {
      font-size: 12px;
      font-weight: 300;
      font-style: italic;
      line-height: 1;
      letter-spacing: 0.3px;
      color: $neutral-600;
      margin-left: 10px;
    }
  }
  .Header__Subtitle--subdued {
    font-size: 18px;
    font-style: italic;
    color: $neutral-600;
  }
}