.Preload__Screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $neutral-300;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out;
  .Preload__Spinner {
    width: 150px;
    height: auto;
    user-select: none;
  }
  &.is-shown {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in-out;
  }
}