@import '../../assets/styles/variables';

.popup-container {
  position: relative;
  width: 450px;
  font-family: $font-primary;
  color: $neutral-800;
  border-radius: 6.5px;
  background-color: $neutral-300;
}

.AdminComponent__ThemeCount {
  display: flex;
  justify-content: center;
  background-color: #4d52bf;
  text-align: center;
  padding: 12px 14px;
  color: #fff;
  font-weight: 700;
  position: sticky;
  top: 0;
}

.AdminComponent__Header {
  padding: 26px;

  h1,
  p {
    margin: 0;
  }

  .Header__Title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .Header__Date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .Header__Id {
    font-style: italic;
    margin-bottom: 8px;
  }
}

.Panel {
  font-weight: 400;
  line-height: 1.5;
}

.Panel--error {
  color: $neutral-600;
  text-align: center;
}

.Popup__Search-wrapper {
  margin: 0 25px 15px;
}

.popup-body-input {
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 1px rgba(135, 154, 171, 0.3);
  border: solid 2px #eff3f6;
  background-color: #f5f7fa;
  font-family: inherit;
  width: 100%;
  transition: border-color 0.2s ease-in;

  &:focus {
    outline: none;
    border-color: $primary-500;
  }

  &::placeholder {
    transition: opacity 0.2s ease-in;
  }

  &:focus::placeholder {
    color: $neutral-600;
    opacity: 0.1;
  }
}

@keyframes split {

  0% {
    box-shadow: 8px -20px, -8px -20px;
  }

  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}

@keyframes jump {

  0% {
    transform: translate(-50%, -150%);
  }

  100% {
    transform: translate(-50%, 10%);
  }
}
