@import '../../assets/styles/variables';

.popup-container {
  position: relative;
  width: 450px;
  font-family: $font-primary;
  color: $neutral-800;
  border-radius: 6.5px;
  background-color: $neutral-300;
}

.AdminComponent__ThemeCount {
  display: flex;
  justify-content: center;
  background-color: #4d52bf;
  text-align: center;
  padding: 12px 14px;
  color: #fff;
  font-weight: 700;
  position: sticky;
  top: 0;
}

.AdminComponent__Header {
  padding: 26px 26px 8px 26px;

  h1,
  p {
    margin: 0;
  }

  .Header__Title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .Header__Date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .Header__Id {
    font-style: italic;
    margin-bottom: 8px;
  }
}

.Panel--error {
  padding: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: $neutral-600;
  text-align: center;
}

.Panel__Loader-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.Panel__Loader {
  width: 82px;
  height: 18px;
  position: relative;
  display: block;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    top: 0;
    background: $primary-500;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: jump 0.5s ease-in infinite alternate;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    top: 0;
    background: $primary-500;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: jump 0.5s ease-in infinite alternate;
    background: #0000;
    color: $neutral-900;
    top: 100%;
    box-shadow: 32px -20px, -32px -20px;
    animation: split 0.5s ease-out infinite alternate;
  }
}

.Panel__Loader-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.4px;
  color: $neutral-600;
  margin: 0;
  margin-top: 10px;
}

.popup-storefront {
  .Alert__Icon-container {
    display: flex;
    gap: 15px;
    align-items: center;

    .title {
      text-align: left;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }
  }

  .Alert__Content {
    text-align: left;

    .Alert__Message {
      font-size: 14px;
    }

    .generator-actions {
      display: flex;
      gap: 10px;
    
      .button {
        flex: 1 1 auto;
        background-color: #4d52bf;
        margin: 0;
        border-width: 0;
        padding: 12px 16px;
        border-radius: 3px;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        transform: scale(1);

        &:hover {
          background-color: #575edd;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .Toastify__toast-container {
    --toastify-icon-color-success: rgb(5, 197, 171);
    --toastify-color-progress-success: rgb(5, 197, 171);
    --toastify-color-light: #4d52bf;
    --toastify-text-color-light: #fff;
    font-weight: 700;

    .Toastify__close-button--light {
      color: var(--toastify-text-color-light);
    }
  }
}

.popup-body-input {
  width: calc(100% - 52px);
  border: 0;
  padding: 12px 8px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 26px 16px;
  border-radius: 6px;
}

@keyframes split {
  0% {
    box-shadow: 8px -20px, -8px -20px;
  }

  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}

@keyframes jump {
  0% {
    transform: translate(-50%, -150%);
  }

  100% {
    transform: translate(-50%, 10%);
  }
}
