.popup-container {
  position: relative;
  width: 450px;
  min-height: 100vh;
  font-family: $font-primary;
  color: $neutral-800;
  border-radius: 6.5px;
  background-color: $neutral-300;
  box-shadow: 0 1.5px 3.5px 0.5px rgba(0, 0, 0, 0.3);
  padding-bottom: 100px;
}