// Colours
$primary-100: #dee0ff;
$primary-200: #bfc3ff;
$primary-300: #b3b8ff;
$primary-400: #8c94ff;
$primary-500: #4d52bf;
$primary-600: #4247a6;
$primary-700: #383c8c;
$primary-800: #2e3173;
$primary-900: #242659;

$neutral-100: #f5f7fa;
$neutral-200: #eff3f6;
$neutral-300: #e3ebf2;
$neutral-400: #dbe0eb;
$neutral-500: #d5dfe8;
$neutral-600: #879aab;
$neutral-700: #4d5f6f;
$neutral-800: #364049;
$neutral-900: #333333;

// Typography
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-primary: 'Nunito', $font-stack, sans-serif;